.app-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.app-menu {
  width: 100%;
  background-color: rgba(72, 132, 180, 0.9);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  z-index: 9999;
}

.app-menu-link {
  text-decoration: none;
  color: white;
  margin-left: 10px;
  transition: all ease 0.2s;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  cursor: pointer;
}

.app-menu-link:hover {
  background-color: #87CEFA;
}

.logout {
  background-color: #E76053;
}

.logout:hover {
  background-color: #FA8072;
}